/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main {
  margin-left: 15vw;
}

.header-start {
  display: flex;
  justify-content: center;
}

.header-end {
  display: flex;
  justify-content: flex-end;
}
