.header-end {
  padding: 10px;

  button {
    margin-left: 16px;
    font-size: 1.2rem;
    width: 120px;
    height: 35px;
  }
}

.search-area {
  width: 100%;
}

table {
  width: 100%;
}

.content-container {
  height: 70vh;
  min-height: 70vh;
  overflow:auto;
}

.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}
